@import 'vars.scss';
@import 'mixin.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1170px; 
    height: 100vh; 
    margin: 0 auto;
}

.clearfix:after{
    clear: both;
    display: table;
    content: "";
}